* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #15121B;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #11111b;
  transition: 0.3s;
}

#workspaces {
  border: none;
}

#workspaces button {
  color: #a6adc8;
  /* border-radius: 20px; */
}

#workspaces button.active {
  background: #181825;
  color: #eba0ac;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

/* Right module */
.modules-right {
  border: 1px solid #181825;
  border-radius: 20px;
}

#custom-power_profile,
#custom-weather,
#window,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-power,
#custom-notifications,
#backlight {
  padding: 0px 10px;
}

#bluetooth {
  font-size: 15px;
  padding: 0px 5px 0px 10px;
}

#custom-power:hover,
#custom-notifications:hover,
#network:hover,
#pulseaudio:hover,
#bluetooth:hover {
  background: #181825;
}

#temperature.critical {
  color: #eba0ac;
}

#backlight {
  border-radius: 20px 0px 0px 20px;
  padding-left: 7px;
}

#tray {
  border-radius: 20px;
  margin-right: 5px;
  padding: 0px 4px;
}

#battery {
  color: #a6e3a1;
}

#battery.warning {
  color: #ffcc66;
}

#battery.critical {
  color: #eba0ac;
}
