/* Ayu Dark theme for Waybar */

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #0D1017;
  color: #BFBDB6;
}

tooltip {
  background: #131721;
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #1B2028;
  color: #BFBDB6;
}

#workspaces {
  border: none;
}

#workspaces button {
  color: #565b66;
  padding: 0 8px;
  margin: 0 2px;
  border-radius: 12px;
  transition: all 0.15s ease;
}

#workspaces button:hover {
  background: #1a1f29;
  color: #bfbdb6;
}

#workspaces button.urgent {
  background: rgba(240, 113, 120, 0.16);
  color: #f07178;
}

#workspaces button.urgent:hover {
  background: rgba(240, 113, 120, 0.24);
  color: #f07178;
}

#workspaces button.active,
#workspaces button.focused {
  background: #1a1f29;
  color: #e6b450;
}

#workspaces button.active:hover,
#workspaces button.focused:hover {
  background: #1a1f29;
  color: #e6b450;
}

/* Right module */
.modules-right {
  border: 1px solid #1B2028;
  border-radius: 20px;
}

#custom-power_profile,
#custom-weather,
#window,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-power,
#custom-notifications,
#backlight {
  padding: 0px 10px;
}

#bluetooth {
  font-size: 15px;
}

#custom-notifications {
  padding: 0px 6px;
}

#custom-power:hover,
#custom-notifications:hover,
#network:hover,
#pulseaudio:hover,
#bluetooth:hover {
  background: #1A1F29;
}

#temperature {
  color: #BFBDB6;
}

#temperature.critical {
  color: #F07178;
}

#backlight {
  border-radius: 20px 0px 0px 20px;
  padding-left: 7px;
}

#tray {
  border-radius: 20px;
  margin-right: 5px;
  padding: 0px 4px;
}

#network {
  color: #BFBDB6;
}

#network.disconnected {
  color: #565B66;
}

#bluetooth {
  color: #565B66;
}

#bluetooth.connected {
  color: #BFBDB6;
}

#pulseaudio {
  color: #BFBDB6;
}


#battery {
  color: #7FD962;
}

#battery.warning {
  color: #FFB454;
}

#battery.critical {
  color: #F07178;
}
